{% extends "base.html"%}

{% block content %}


<div class="container" id="detail">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5 thumbnail">
            <img src="/wineproj/static/img/cabsav-lg.jpg" alt class="img-detail">
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 caption">
            <h2>2014 Cabernet Sauvignon</h2>
            <h4 style="text-align:center">Rymill Coonawarra</h4><br>
            <h6 class="lead"><em>"Beefiest drop in the South East"</h6></em><br>
            <p>Description of this particular wine...</p>
            <p>Perhaps I could link this directly to a website as well...<br>
            <p>Use JavaScript to dynamically link discounts & Cart</p>

            </p>
            <p>Tasting notes</p>
            <ul>
                <li>Fruity</li>
                <li>Bold</li>
                <li>Tannins</li>
            </ul>

            <div class="row">
                <div class="col-md-6">
                    <h4 id="price_sg">Bottle: $30.00</h4><br>
                </div>
                <div class="col-md-6">
                    <h4 id="price_sg">Dozen: $300.00</h4><br>
                </div>
            </div>

            <form class="form-inline">
                <a class="btn btn-info" href="#" role="button">Add to Cart</a>
                <input class="form-control form-inline col-sm-6 col-md-4 ml-auto" type="text" placeholder="Qty"
                    aria-label="Quantity">
            </form>
            <h1></h1>
            <br>
            <br>
            <br>
            <h4>Testing Maps: Need to setup an key for the API</h4>
            <!--Google maps  // Link this to the database in the next round-->
            <div>
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 300px">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223434.9772550023!2d140.61224155355515!3d-37.177517752081414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6acb0635ed4c05fd%3A0x5df6d0504476228d!2sRymill%20Coonawarra!5e0!3m2!1spt-BR!2sau!4v1592193752664!5m2!1spt-BR!2sau"
                        width="400" height="300" frameborder="2" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}