{% extends "base.html" %}
{% block title%}SE Wines - Home{% endblock %}
{% block caption %} Drops from South Australia {% endblock %}

{% block content %}

<!-- include the jumbotron header -->

<section>
    <div class="container-fluid">
        <h2 class="display-4 text-center py-1 my-1 mb-4">Select your drop</h2>

        <!-- horizontal row for the categories -->
        <div class="row">

            {% for category in categories %}
            <!-- Red wine card -->
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-6">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/'+category.image)}}" alt="red wine"
                        class="card-img-top img-fluid " id="blurred" />

                    <div class="card-body">
                        <h3 class="card-title">{{category.name}}</h3>
                        <p class="text-muted visible-tablet">{{category.description}}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-info" href="{{ url_for('main.wines', categoryid = category.id) }}"
                            role="button">Select your drop!</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


</section>
<hr>

<h2 class="display-4 text-center py-2 my-2">Select your poison...</h2>

<!-- individual wines listed here -->
<section>
    <div class="container-fluid">
        <div class="row">

            {% for wine in wines %}
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <div class="card">
                    <a href="{{ url_for('main.wines2', id = wine.id) }}">
                        <img src="{{ url_for('static', filename='img/'+wine.image)}}" class="card-img-bottom" alt="">
                        <span class="store-item-icon">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                    </a>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="store-item-name"> {{ wine.name }} </h5>


                            <h5 class="store-item-value">$<strong id="store-item-price"
                                    class="font-weight-bold">{{ wine.price }}</strong></h5>
                        </div>
                        <p id="store-item-name"><i> {{ wine.blend }} </i></p>
                        <!-- ! input type=hidden to ensure message is sent via POST -->
                        <form class="card-footer" action="{{url_for('main.order') }}">
                            <input type="hidden" id="wine_id" name="wine_id" value="{{wine.id}}">
                            <input class="btn btn-info" type="submit" role="button" value="Add to Cart">
                        </form>

                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- end of card-->
        </div>
</section>

<div class="">
    <hr><br>
    <h2 class="display-4 text-center py-4 my-4">A brief history of the region...</h2>

    <p class="lead">Coonawarra’s agricultural history began in the mid-1800s when settlers recognised the potential
        of the flat, fertile plains for sheep farming and fruit growing. Enterprising Scottish settler John Riddoch
        planted Coonawarra’s first grapevines in 1891, thirty years after establishing a lucrative sheep farm at
        Penola. Thanks to the work of pioneering work of people like David Wynn and Bill Redman today Coonawarra is,
        perhaps alongside Margaret River, Australia’s most famous cool-climate region for Cabernet Sauvignon.

        The grape varietal has found a home in the terra rossa soils of Coonawarra, producing rich, firmly
        structured red wines that are renowned around the world. But the region is by no means a one trick pony,
        producing a diverse range of varieties and styles. And the established winemaking families have been
        reinforced by a new generation of winemakers in recent years, continuing the tradition of elegant cool
        climate winemaking and bringing the region to a new audience.</p><br><a
        href="https://www.wineaustralia.com/discover-australian-wine/south-australia-wines/coonawarra"
        alt="Coonawarra - WineAustralia">Reference: WineAustralia</a>
</div>

{% endblock %}

<!-- 

<section>
    <h2 class="display-4 text-center py-4 my-4">Meet our brands</h2>

    <nav class="nav nav-pills flex-column flex-md-row justify-content-center">
        <a class="nav-link" href="#DG" data-toggle="tab">Di Giorgio</a>
        <a class="nav-link" href="#Redfern" data-toggle="tab">Redfern</a>
        <a class="nav-link" href="#ZemaEstate" data-toggle="tab">Zema Estate</a>
        <a class="nav-link" href="#RD" data-toggle="tab">Red Door</a>
        <a class="nav-link" href="#laira" data-toggle="tab">Brand's Laira</a>
        <a class="nav-link" href="#patrick" data-toggle="tab">Patrick</a>
        <a class="nav-link" href="#katnook" data-toggle="tab">Katnook Estate</a>

    </nav>

    <div class="tab-content py-5">
        <div class="tab-pane" id="DG">
            <h3>Di Giorgio</h3>
            <p>Established in 1891...Render Wikipedia</p>
        </div>
        <div class="tab-pane" id="Redfern">
            <h3>Redfern</h3>
            <p>Established in 1891...Render Wikipedia</p>
        </div>
        <div class="tab-pane" id="ZemaEstate">
            <h3>Zema Estate</h3>
            <p>Established in 1891...Render Wikipedia</p>
        </div>
        <div class="tab-pane" id="RD">
            <h3>Red Door</h3>
            <p>Established in 1891...Render Wikipedia</p>
        </div>
        <div class="tab-pane" id="laira">
            <h3>Brand's Laira</h3>
            <p>Established in 1891...Render Wikipedia</p>
        </div>
        <div class="tab-pane" id="patrick">
            <h3>Patrick's of Coonawarra</h3>
            <p>Established in 1891...Render Wikipedia</p>
        </div>
        <div class="tab-pane" id="katnook">
            <h3>Katnook Estate</h3>
            <p>Established in 1891...Render Wikipedia</p>
        </div>
    </div>
</section>

 -->











<!-- Looking into adding Shopping Cart functionality
    <form name="ShoppingList">
        <fieldset>
            <legend>Shopping cart</legend>
            <label>Item: <input type="text" name="name"></label>
            <label>Quantity: <input type="text" name="data"></label>
    
            <input type="button" value="Save"   onclick="SaveItem()">
            <input type="button" value="Update" onclick="ModifyItem()">
            <input type="button" value="Delete" onclick="RemoveItem()">
        </fieldset>
        <div id="items_table">
            <h2>Shopping List</h2>
            <table id="list"></table>
            <label><input type="button" value="Clear" onclick="ClearAll()">
            * Delete all items</label>
        </div>
    </form> -->