{% extends "base_nojumbo.html" %}
{% block title %} SE Wines - Categories {% endblock %}
{% block caption %}Select your drop...{% endblock%}
{% block content %}
<!-- Display wines -->
<section>
    <div class="container-fluid wines">
        <h2 class="display-4 text-center py-1 my-1 mb-3">Select your drop...</h2>

        <div class="row">
            <!-- each wine is a bootstrap card -->
            {% for wine in wines %}
            <div class="col-md-6 col-lg-4 col-sm-6 col-xs-6">
                <div class="card">
                    <a href="">
                        <!-- want to link a search {{wine.id}} => details -->
                        <img src="{{ url_for('static', filename='img/'+wine.image)}}" class="card-img-bottom" alt="">
                    </a>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5 id="store-item-name"> {{ wine.name }} ({{ wine.vintage }})</h5>
                            <h5 class="store-item-value">$<strong id="store-item-price">{{ wine.price }}</strong></h5>
                        </div>

                        <h6 id="store-item-region"> {{ wine.blend }} </h6>
                        <h6 id="store-item-region"><i> {{ wine.region }} </i></h6>
                        <p id="store-item-description"> {{ wine.description }} </p>
                    </div>
                    <!-- <div class="card-footer"> -->
                    <!-- Form action relates to POST request, WTForms -->
                    <!-- Forms don't need anchor tags -->
                    <form class="card-footer" action="{{url_for('main.order') }}">
                        <input type="hidden" id="wine_id" name="wine_id" value="{{wine.id}}">
                        <input class="btn btn-info" type="submit" role="button" value="Add to Cart">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- end of card-->
    </div>
</section>

{% endblock %}