<div class="container text-center">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-right">
        <!-- Grid row -->
        <div class="row">
            <div class="footer-copyright py-3" style="color: white">© 2020 Copyright:
                Doug Newton, SE Wines |
                <a href="douglasleigh.newton@connect.qut.edu.au" style="color: gray">
                    douglasleigh.newton@connect.qut.edu.au
                </a>
            </div>
        </div>
    </div>
</div>